[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "mrfse"]
	path = mrfse
	url = https://github.com/cran/mrfse
	shallow = true
	registered = true
